<script type="text/template" id="doctor">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-doctorForm">
    <% if(doctor.id) {%>
    <input type="hidden" name="id" value="<%= doctor.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= doctor.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="login">Login</label>
    	<input type="text" class="form-control" id="login" name="login" placeholder="Enter value" value="<%= doctor.get('login') %>"/>	
		</div>
		<div class="form-group" >
		<label for="password">Password</label>
    	<input type="text" class="form-control" id="password" name="password" placeholder="Enter value" value="<%= doctor.get('password') %>"/>	
		</div>
    </form>
    </div>
</script> 