<script type="text/template" id="reporte">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-reporteForm">
    <% if(reporte.id) {%>
    <input type="hidden" name="id" value="<%= reporte.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="actividadFisica">Actividad Fisica</label>
    	<input type="text" class="form-control" id="actividadFisica" name="actividadFisica" placeholder="Enter value" value="<%= reporte.get('actividadFisica') %>"/>	
		</div>
		<div class="form-group" >
		<label for="alimentacion">Alimentacion</label>
    	<input type="text" class="form-control" id="alimentacion" name="alimentacion" placeholder="Enter value" value="<%= reporte.get('alimentacion') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaPublicacion">Fecha Publicacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaPublicacion"  name="fechaPublicacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaPublicacion').datepicker({autoclose:true});
        	$('#fechaPublicacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= reporte.get('fechaPublicacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="gravedad">Gravedad</label>
    	<input type="text" class="form-control" id="gravedad" name="gravedad" placeholder="Enter value" value="<%= reporte.get('gravedad') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= reporte.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="localizacionDolor">Localizacion Dolor</label>
    	<input type="text" class="form-control" id="localizacionDolor" name="localizacionDolor" placeholder="Enter value" value="<%= reporte.get('localizacionDolor') %>"/>	
		</div>
		<div class="form-group" >
		<label for="patronDeSueno">Patron De Sueno</label>
    	<input type="text" class="form-control" id="patronDeSueno" name="patronDeSueno" placeholder="Enter value" value="<%= reporte.get('patronDeSueno') %>"/>	
		</div>
    </form>
    </div>
</script> 